.headStyle{
    background-color: #92e8f7;
    padding: 10px 45px;
}

.logo{
    
}

.navbar-brand{
    width: 130px;
    text-align: center;    
           padding: 10px; 
}
.navbar-nav{
    margin: 0px 25px;
}
.nav-item  a:hover{
    background: #f2f2f2;
    box-shadow: inset 0 5px #3498db;
    color: #3498db;
    background-color: #000000;
}
a.nav-link{
    text-align: center;
    color: #00FFFF !important;
}

.btnMenu{
    
    padding: 45px 0;
    text-align: center
}


.search{
    padding: 20px 0;
}
.logSignMenu{

    padding: 15px;
    text-align: center;
    
}
.btnLogIn{
    margin-bottom: 10px; 
}
.aLogIn{
    padding: 2px;
    text-align: center;
}
.bodyContent{
    margin: 20px 0;
    background-color: #7accc6;
}
.rowContent{
    padding: 15px 40px;
    text-align: center;
}
.collumn1{
    background-color: red;
}
.collumn2{
    background: green;
}
.collumn3{
    background-color: blue;
}
.reg{
    padding: 15px 50px;

    margin: 0px 50px;
}
.regTitle{
    text-align: center;
    border: solid 2px;
    background-color: #5F9EA0;
}
.newUser{
    padding: 0 20px;
    margin: 10px 40px;
    background: blue;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.card-img-top{
    
    max-height: 350px
}
.backBtn{
    padding: 0 20px;
    margin: 10px 40px;
    background: red;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.navPg{
    padding: 20px 0 5px 0;
}



